.text{
    color: red;
    text-align: center;
    border: 2px solid green;
    border-radius: 10px;
}
p{
    color: yellow;
    text-align: justify;
    font: bold;
    background-color: black;
}
img{
    width: 50%;
    height: auto;
}